<h3>Search Bovine</h3>
<div style="width: 300px;">
    <!-- [formGroup]="searchForm" -->
    <form class="form-inline" (ngSubmit)="onSubmit()">
        <div class="form-group">

            <label for="name">Animal Species: Bovines</label>&nbsp;&nbsp;
            <!-- <input type="text" class="form-control" id="id" name="id" ngModel> -->&nbsp;&nbsp;
            <label for="name">Moved From</label>&nbsp;&nbsp;
            <input type="text" class="form-control" id="movedFrom" name="movedFrom" ngModel>&nbsp;&nbsp;
            <label for="name">Moved To</label>&nbsp;&nbsp;
            <input type="text" class="form-control" id="movedTo" name="movedTo" ngModel>
        </div>

        <div class="form-group">
            <label for="name">Third Party</label>&nbsp;&nbsp;
            <input type="text" class="form-control" id="thirdParty" name="thirdParty" ngModel>&nbsp;&nbsp;
            <label for="name">Tag Number</label>&nbsp;&nbsp;
            <input type="text" class="form-control" id="tagNumber" name="tagNumber" ngModel>&nbsp;&nbsp;
            <label for="name">Health Certificate Number</label>&nbsp;&nbsp;
            <input type="text" class="form-control" id="healthCertNo" name="healthCertNo" ngModel>&nbsp;&nbsp;
        </div>

        <div class="form-group">
            <!-- <label for="name">Date From</label>&nbsp;&nbsp;
            <input class="form-control date" type='text' placeholder="dd/mm/yyyy" id="dateFrom" />&nbsp;&nbsp;
            <span  class="input-group-btn">
            <button class="btn btn-primary btn-icon" (click)="pickDate()">
            <i class="fa fa-calendar-o"></i>
            </button>
            </span>&nbsp;&nbsp;
            <label for="name">Date To</label>&nbsp;&nbsp;
            <input class="form-control date" type='text' placeholder="dd/mm/yyyy" id="dateTo" />&nbsp;&nbsp;
            <span class="input-group-btn">
            <button class="btn btn-primary btn-icon" (click)="pickDate()">
            <i class="fa fa-calendar-o"></i>
            </button>
            </span>&nbsp;&nbsp; -->
            <label for="name">Porcine Movement System</label>&nbsp;&nbsp;
            <input type="text" class="form-control" id="porcineMoveSystem" name="porcineMoveSystem" ngModel>&nbsp;&nbsp;

        </div>
        <div class="form-group">
            <button class="action-btn btn-success">Search</button>
            <!-- <button class="action-btn btn-success">Reset</button> -->
        </div>
    </form>
</div>
<!-- <app-search-bovine **ngIf="searchCriteria"></app-search-bovine> -->

<!-- <div class="panel-body">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Bovine Id</th>
                <th>Moved From</th>
                <th>Moved To</th>
                <th>Third Party</th>
                <th>Tag Number</th>
                <th>Health Certificate Number</th>
                <th>Province Movement System</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bovine of bovine | async">
                <td>{{bovine.id}}</td>
                <td>{{bovine.movedFrom}}</td>
                <td>{{bovine.movedTo}}</td>
                <td>{{bovine.thirdParty}}</td>
                <td>{{bovine.healthCertNo}}</td>
                <td>{{bovine.porcineMoveSystem}}</td>
            </tr>
        </tbody>
    </table>
</div> -->
<!-- [diabled]="isFormInvalid()" -->